.portfolio {
  padding-top: 40px;
}

.portfolio__item {
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.portfolio__item-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.portfolio__item-tools {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.portfolio__link {
  font-size: 14px;
}