.portfolio__list {
  @include list-unstyled;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 18px;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px -1px 8px 2px rgba(23, 23, 23, 0.16);
}

.portfolio__item-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.portfolio__item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 12px;
}

.portfolio__item-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.portfolio__item-tools {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.portfolio__item-content-bottom {
  margin-top: auto;
}

.portfolio__link {
  font-size: 14px;
}

@include breakpoint-down(890px) {
  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@include breakpoint-down(580px) {
  .portfolio__list {
    grid-template-columns: 1fr;
    gap: 0;
    row-gap: 5px;
  }
}