.site-link {
  display: inline-block;
  color: #333D4B;
  border: 1px solid transparent;

  &:focus {
    outline: none;
    border: 1px dashed #333D4B;
  }

  &:hover {
    opacity: 0.8;
  }
}

.site-link--bolder {
  padding: 6px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.site-link--git-hub {
  background-color: #161b22;
}

.site-link--site {
  background-color: #00AD9F;
}